<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Providers List</title>
</head>
<body>
    <h1>Providers List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Specialty</th>
            </tr>
        </thead>
        <tbody>
            <% providers.forEach(providers => { %>
                <tr>
                    <td><%= providers.first_name %></td>
                    <td><%= providers.last_name %></td>
                    <td><%= providers.provider_specialty %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
